@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground: #f5f5f5;
  --primary-background: #1e1e1e;
  --secondary-background: #344045;
  --tertiary-background: #282828;
  --primary: #C9AED6;
  --secondary: #8DC9E2;
  --accent: #E0C8AE;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  background-color: var(--primary-background);
  color: var(--foreground);
  margin: 0;
  font-size: 12px;
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* h1, h2, h3, h4, h5, h6, p, label {
  margin: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

label {
  font-size: 0.8em;
} */