.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.grid > :first-child {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: var(--accent-background);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-icon {
    font-size: 32px;
    cursor: pointer;
}

.logo {
    width: 24px;
    cursor: pointer;
}

.account-icon {
    display: none;
    cursor: pointer;
}

.logout-icon {
    display: none;
    cursor: pointer;
}

.sidebar  {
    padding: 16px;
    background-color: var(--secondary-background);
}

#notifications {
    margin-bottom: 16px;
}

#notifications h2 {
    margin-bottom: 16px;
}

.notifications-container {
    background-color: var(--accent);
    border-radius: 24px;
    padding: 16px;
    color: var(--primary-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notifications-container > img {
    width: 33%;
    object-fit: contain;
    margin-bottom: 8px;
}

.notifications-container > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.close-icon {
    font-size: 32px;
    color: var(--secondary-background);
    cursor: pointer;
}

.close-icon:hover {
    color: var(--accent-background);
}

#now-playing > h2 {
    margin-bottom: 16px;
}

.heartbeat-container {
    background-color: var(--primary);
    border-radius: 24px;
    padding: 16px;
    color: var(--primary-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.heartbeat-container > img {
    width: 33%;
    object-fit: contain;
    margin-bottom: 8px;
}

.heartbeat-container > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.heart-icon {
    font-size: 32px;
    color: var(--secondary-background);
    cursor: pointer;
}
.heart-icon:hover {
    color: var(--accent-background);
}

.stop-icon {
    font-size: 32px;
    color: var(--secondary-background);
    cursor: pointer;
}
.stop-icon:hover {
    color: var(--accent-background);
}

.playing-container {
    background-color: var(--secondary);
    border-radius: 24px;
    padding: 16px;
    color: var(--primary-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playing-container > img {
    width: 33%;
    object-fit: contain;
    margin-bottom: 8px;
}

.playing-container > div {
    width: 100%;
    display: flex;
    color: var(--secondary-background);
    align-items: center;
}

.pause-icon {
    font-size: 32px;
    margin-right: 16px;
    cursor: pointer;
}

.pause-icon:hover {
    color: var(--accent-background);
}

.play-icon {
    font-size: 32px;
    margin-right: 16px;
    cursor: pointer;
}

.play-icon:hover {
    color: var(--accent-background);
}

.slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volumedown-icon {
    margin-right: 16px;
    font-size: 32px;
}

.volumeup-icon {
    margin-left: 16px;
    font-size: 32px;
}

#recordings {
    grid-column: span 12;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

#recordings > h1 {
    margin-bottom: 16px;
}

#recordings > img {
    width: 33%;
    object-fit: contain;
    align-self: center;
    margin-bottom: 16px;
}

.audio-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}

.playing-icon {
    font-size: 32px;
    color: var(--secondary);
}

.audio-play-icon {
    font-size: 32px;
    cursor: pointer;
}

.audio-play-icon:hover {
    color: var(--secondary);
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }

    .grid {
        height: 100vh;
    }

    .grid > :first-child {
        grid-column: span 5;
        display: flex;
        flex-direction: row;
    }

    nav {
        padding: 32px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 32px;
        margin-bottom: 16px;
    }

    .menu-icon {
        display: none;
    }

    .account-icon {
        display: flex;
        font-size: 32px;
    }

    .logout-icon {
        display: flex;
        font-size: 32px;
    }

    .sidebar {
        padding: 32px;
    }

    #recordings {
        grid-column: span 7;
        padding: 32px;
        display: flex;
        flex-direction: column;
    }

    #recordings > img {
        width: 17%;
    }
}