.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#login {
    grid-column: span 12;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-background {
    background-color: var(--primary);
    color: var(--primary-background);
    padding: 32px;
    margin: 32px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-background > h3 {
    margin-bottom: 8px;
}

.name-container {
    display: flex;
    flex-direction: column;
}

.name-container > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid var(--primary);
    background-color: var(--foreground);
}
input:focus {
    outline: none;
    border: 2px solid var(--primary-background);
}

label {
    margin-bottom: 4px;
}

.error {
    margin-bottom: 8px;
}

button {
    background-color: var(--secondary-background);
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: var(--foreground);
    margin-bottom: 8px;
}
button:hover {
    background-color: var(--primary-background);
}

.signup-link {
    color: var(--primary-background);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }

    .login-background {
        margin: 0;
    }

    #login {
        grid-column: 4/10;
    }

    .login-background > h3 {
        margin-bottom: 16px;
    }

    .name-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
    }

    input {
        margin-bottom: 16px;
    }

    .error {
        margin-bottom: 16px;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }

    #login {
        grid-column: 5/9;
    }

    .name-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 32px;
    }
}