.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#signup {
    grid-column: span 12;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-background {
    background-color: var(--tertiary-background);
    padding: 32px;
    margin: 32px;
    border-radius: 24px;
}

.signup-background img {
    height: 24px;
    margin-right: 8px;
}

.signup-background > div {
    display: flex;
    align-items: center;
}

.signup-background > h2 {
    margin-bottom: 8px;
}

.name-container {
    display: flex;
    flex-direction: column;
}

.name-container > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid var(--foreground);
}
input:focus {
    outline: none;
    border-color: var(--secondary);
}

label {
    margin-bottom: 4px;
}

form > :last-child {
    align-self: center;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: var(--secondary);
    cursor: pointer;
    margin-top: 4px;
    align-self: center;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }

    .signup-background {
        margin: 0;
    }

    #signup {
        grid-column: 4/10;
    }

    .signup-background > h2 {
        margin-bottom: 16px;
    }

    .name-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
    }

    input {
        margin-bottom: 16px;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }

    #signup {
        grid-column: 5/9;
    }

    .name-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 32px;
    }
}